# S3 & DB Access Notebook

## S3 Access

In [219]:
"s3://mads-capstone-2023"

's3://mads-capstone-2023'

In [2]:
import boto3 
import botocore 
import pandas as pd 
from sagemaker import get_execution_role
import psycopg2

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /root/.config/sagemaker/config.yaml

In [221]:
role = get_execution_role()

role

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /root/.config/sagemaker/config.yaml

'arn:aws:iam::711527276276:role/service-role/AmazonSageMaker-ExecutionRole-20231108T205775'

In [222]:
bucket = 'mads-capstone-2023' 
data_key = 'FINRA_Short_Sale_Data.csv' 
data_location = 's3://{}/{}'.format(bucket, data_key) 

data_location

's3://mads-capstone-2023/FINRA_Short_Sale_Data.csv'

In [223]:
df = pd.read_csv(data_location)

df

,Unnamed: 0,ticker,date,shortvolume,shortexemptvolume,totalvolume,market,short_ratio
0,0,A,2018-08-01,127212.0,14.0,658064.0,"Q,N",0.193313
1,1,AADR,2018-08-01,3213.0,0.0,9620.0,"Q,N",0.333992
2,2,AAL,2018-08-01,1373187.0,3950.0,2142375.0,"Q,N",0.640965
3,3,AAN,2018-08-01,118343.0,643.0,215672.0,"Q,N",0.548717
4,4,AAOI,2018-08-01,160536.0,104.0,311860.0,"Q,N",0.514769
...,...,...,...,...,...,...,...,...
4770104,4770104,ZION,2023-11-07,299754.0,146.0,573588.0,"B,Q,N",0.522595
4770105,4770105,ZIVB,2023-11-07,2092.0,0.0,2903.0,Q,0.720634
4770106,4770106,ZROZ,2023-11-07,98928.0,537.0,203459.0,"B,Q,N",0.486231
4770107,4770107,ZSL,2023-11-07,43718.0,0.0,99867.0,"Q,N",0.437762
4770108,4770108,ZTS,2023-11-07,308280.0,2804.0,1318855.0,"B,Q,N",0.233748

In [35]:
df.dtypes

Unnamed: 0             int64
ticker                object
date                  object
shortvolume          float64
shortexemptvolume    float64
totalvolume          float64
market                object
short_ratio          float64
dtype: object

In [14]:
%pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 2.9 MB/s eta 0:00:0000:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=164363 sha256=96de964b010d9b5c625c77cec86c75f5c6b8e3af1f0aa21b1f76765580f23863
  Stored in directory: /root/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Create DB

In [15]:
import psycopg2

In [29]:
connection = psycopg2.connect(
            user='postgres', password='Data2023',
            host='mads-capstone.cmohac77hep9.eu-north-1.rds.amazonaws.com', port=5432
        )

In [30]:
connection.autocommit = True

In [31]:
query = "CREATE DATABASE mads"

query

'CREATE DATABASE mads'

In [32]:
cursor = connection.cursor()

In [33]:
cursor.execute(query)

In [35]:
connection.close()

## Create Table

In [43]:
from psycopg2.extras import RealDictCursor

In [34]:
db_connection = psycopg2.connect(
            user='postgres', password='Data2023',
            host='mads-capstone.cmohac77hep9.eu-north-1.rds.amazonaws.com', port=5432,
            database="mads"
        )

In [37]:
db_connection.autocommit = True

In [41]:
query = "CREATE TABLE greeks (id SERIAL PRIMARY KEY, ticker text, price float)"

query

'CREATE TABLE greeks (id SERIAL PRIMARY KEY, ticker text, price float)'

In [44]:
cursor = db_connection.cursor(cursor_factory=RealDictCursor)

cursor

In [45]:
cursor.execute(query)

## Insert Records

In [76]:
insert_query = "INSERT INTO greeks (ticker, price) values ('APPL', 20.5)"

In [77]:
cursor.execute(insert_query)

In [78]:
select_query = "SELECT * FROM greeks"

cursor.execute(select_query)

rows = cursor.fetchall()

records = []
for row in rows:
    records.append([row["id"], row["ticker"],row["price"]])
    
pd.DataFrame(records, columns=["ID", "TICKER", "PRICE"])

   ID TICKER  PRICE
0   1    SPY   20.5
1   2    SPY   20.5
2   3   AMZN   10.5
3   4   APPL   20.5

In [79]:
db_connection.close() ## Always close connection, please.

## Greeks Table Insertion

In [91]:
import pandas as pd

bucket = 'mads-capstone-2023' 
data_key = 'greeks.csv' 
greeks_csv = 's3://{}/{}'.format(bucket, data_key) 

greeks_df = pd.read_csv(greeks_csv, nrows=5) ## Reading only 5 rows to check dataset format.

greeks_df

                  date  increment      value ticker  greek option_type
0  2016-08-05 00:00:00         90 -236788.11    HSY  zomma         all
1  2016-08-05 00:00:00         90    -498.37    HSY  speed        call
2  2016-08-05 00:00:00         90    1985.00    HSY  speed         put
3  2016-08-05 00:00:00         90    1486.63    HSY  speed         all
4  2016-08-05 00:00:00         90 -595016.06    HSY  color        call

In [133]:
#for i, row in enumerate(obj["Body"].iter_lines()):
#    print(row.decode().split(","))
#    if i==15:
#        break

In [3]:
db_connection = psycopg2.connect(
            user='postgres', password='Data2023',
            host='mads-capstone.cmohac77hep9.eu-north-1.rds.amazonaws.com', port=5432,
            database="mads"
        )

db_connection.autocommit = True

cursor = db_connection.cursor()

In [196]:
# delete_query = "DROP TABLE greeks"
# cursor.execute(delete_query)

In [197]:
query = '''CREATE TABLE greeks (id SERIAL PRIMARY KEY,  
                                exec_date date,
                                increment SMALLINT,
                                opt_value float,
                                ticker VARCHAR(8),
                                greek VARCHAR(16),
                                option_type VARCHAR(8))'''


cursor.execute(query)

In [198]:
select_query = "SELECT * FROM greeks"

cursor.execute(select_query)

rows = cursor.fetchmany(size=10)
records = []
for row in rows:
    records.append([row[0], row[1],row[2], row[3], row[4], row[5], row[6]])
    
df = pd.DataFrame(records, columns=["ID", "DATE", "INCREMENT", "VALUE", "TICKER", "GREEK", "OPTION_TYPE"])

print(df.shape)


df

(0, 7)

Empty DataFrame
Columns: [ID, DATE, INCREMENT, VALUE, TICKER, GREEK, OPTION_TYPE]
Index: []

In [ ]:
%%time

import boto3
s3_client = boto3.client('s3')
obj = s3_client.get_object(Bucket=bucket, Key=data_key)

insert_query = "INSERT INTO greeks (exec_date, increment, opt_value, ticker, greek, option_type) values ('{}',{},{},'{}','{}','{}')"

for i, row in enumerate(obj["Body"].iter_lines()):
    if i == 0:
        continue
    row_data = row.decode().split(",")
    dt, incr, opt_value, ticker, greek, opt_type = row_data
    dt = dt.split()[0]
    incr = int(incr) if incr else "NULL"
    opt_value = float(opt_value) if opt_value else "NULL"
    query = insert_query.format(dt,incr,opt_value,ticker,greek,opt_type)
    #print(query)
    #if i==15:
    #    break
    cursor.execute(query)

## Index Creation

In [ ]:
index_query = "CREATE INDEX greeks_ticker ON greeks(ticker);"

cursor.execute(select_query)

## Examples

select_query = "SELECT * FROM greeks"

cursor.execute(select_query)

rows = cursor.fetchmany(size=10)
records = []
for row in rows:
    records.append([row[0], row[1],row[2], row[3], row[4], row[5], row[6]])
    
df = pd.DataFrame(records, columns=["ID", "DATE", "INCREMENT", "VALUE", "TICKER", "GREEK", "OPTION_TYPE"])

print(df.shape)

df

In [203]:
select_query = "SELECT count(*) FROM greeks"

cursor.execute(select_query)

rows = cursor.fetchall()

print(rows)

[(22802314,)]

In [23]:
select_query = "SELECT count(*) FROM greeks3"

cursor.execute(select_query)

rows = cursor.fetchall()

print(rows)

[(600000,)]

In [14]:
select_query = "SELECT count(*) FROM greeks WHERE ticker='HSY'"

cursor.execute(select_query)

rows = cursor.fetchall()

print(rows)

[(4693,)]

In [206]:
select_query = "SELECT * FROM greeks WHERE ticker='HSY'"

cursor.execute(select_query)

rows = cursor.fetchall()

records = []
for row in rows:
    records.append([row[0], row[1],row[2], row[3], row[4], row[5], row[6]])
    
df = pd.DataFrame(records, columns=["ID", "DATE", "INCREMENT", "VALUE", "TICKER", "GREEK", "OPTION_TYPE"])

print(df.shape)

df

(4693, 7)

           ID        DATE  INCREMENT        VALUE TICKER  GREEK OPTION_TYPE
0           1  2016-08-05         90   -236788.11    HSY  zomma         all
1           2  2016-08-05         90      -498.37    HSY  speed        call
2           3  2016-08-05         90      1985.00    HSY  speed         put
3           4  2016-08-05         90      1486.63    HSY  speed         all
4           5  2016-08-05         90   -595016.06    HSY  color        call
...       ...         ...        ...          ...    ...    ...         ...
4688  8279920  2016-08-11         90  -1831264.20    HSY   vega         put
4689  8279921  2016-08-11         90  13116877.00    HSY   vega         all
4690  8279922  2016-08-11         90   8042114.00    HSY    rho        call
4691  8279923  2016-08-11         90    604064.60    HSY    rho         put
4692  8279924  2016-08-11         90   8646179.00    HSY    rho         all

[4693 rows x 7 columns]

In [209]:
select_query = "SELECT count(*) FROM greeks WHERE ticker='HSY' and greek='zomma' and option_type='call'"

cursor.execute(select_query)

rows = cursor.fetchall()

print(rows)

[(104,)]

In [210]:
select_query = "SELECT * FROM greeks WHERE ticker='HSY' and greek='zomma' and option_type='call'"

cursor.execute(select_query)

rows = cursor.fetchall()

records = []
for row in rows:
    records.append([row[0], row[1],row[2], row[3], row[4], row[5], row[6]])
    
df = pd.DataFrame(records, columns=["ID", "DATE", "INCREMENT", "VALUE", "TICKER", "GREEK", "OPTION_TYPE"])

print(df.shape)

df

(104, 7)

          ID        DATE  INCREMENT      VALUE TICKER  GREEK OPTION_TYPE
0         44  2016-08-05        120 -241113.84    HSY  zomma        call
1         89  2016-08-05        180 -262191.00    HSY  zomma        call
2        134  2016-08-05        360 -262191.00    HSY  zomma        call
3        179  2016-08-05       3600 -263452.50    HSY  zomma        call
4    8279712  2016-08-11          0 -273142.62    HSY  zomma        call
..       ...         ...        ...        ...    ...    ...         ...
99   8279937  2016-08-11         90 -193625.19    HSY  zomma        call
100  8279982  2016-08-11        120 -193625.19    HSY  zomma        call
101  8280027  2016-08-11        180 -234643.60    HSY  zomma        call
102  8280072  2016-08-11        360 -234643.60    HSY  zomma        call
103  8280117  2016-08-11       3600 -236197.06    HSY  zomma        call

[104 rows x 7 columns]

In [216]:
select_query = "SELECT exec_date,increment,opt_value FROM greeks WHERE ticker='HSY' and greek='zomma' and option_type='call'"

cursor.execute(select_query)

rows = cursor.fetchall()

records = []
for row in rows:
    records.append([row[0], row[1],row[2],])
    
df = pd.DataFrame(records, columns=["DATE", "INCREMENT", "VALUE", ])

print(df.shape)

df

(104, 3)

           DATE  INCREMENT      VALUE
0    2016-08-05        120 -241113.84
1    2016-08-05        180 -262191.00
2    2016-08-05        360 -262191.00
3    2016-08-05       3600 -263452.50
4    2016-08-08          0 -268861.47
..          ...        ...        ...
99   2016-08-19         90 -102892.29
100  2016-08-19        120 -102892.29
101  2016-08-19        180 -143123.40
102  2016-08-19        360 -143123.40
103  2016-08-19       3600 -145137.39

[104 rows x 3 columns]

In [135]:
db_connection.close()